table#calendar
    thead
        tr
            th mark your available days
    tbody
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td

