extends layout

block scripts
  script(src='/javascripts/availabilities.js')
  script(src='/javascripts/calendar.js')
  script.
    window.onload = () => {
      
    }

block content
  link(rel='stylesheet', href='/stylesheets/event-override.css')
  h2 mark your available days
  table#calendar
    thead
      tr
        th sun
        th mon
        th tue
        th wed
        th thu
        th fri
        th sat
    tbody
      each i in [1, 2, 3, 4, 5]
        tr
          each j in [1, 2, 3, 4, 5, 6, 7]
            td
  