extends layout

block scripts
  script(src='/javascripts/events.js')
  script let groupid = #{groupid};
  script.
    async function sendData() {
      let data = document.getElementById('createNewEvent').getElementsByTagName('input');
      if (data[0].value && data[1].value) {
        let res = await createEvent(data[0].value, data[1].value, groupid, data[2].value);
        alert(res);
      }
    }

    function sendEvent(eventId, eventName, eventDescription) {
      let form = document.createElement('form');
      form.method = 'POST';
      form.action = '/users/event';
      form.style.display = 'none';

      let eventid = document.createElement('input');
      eventid.name = 'eventid';
      eventid.value = eventId;

      let eventname = document.createElement('input');
      eventname.name = 'eventname';
      eventname.value = eventName;

      let eventdescription = document.createElement('input');
      eventdescription.name = 'eventdescription';
      eventdescription.value = eventDescription;

      form.appendChild(eventid);
      form.appendChild(eventname);
      form.appendChild(eventdescription);
      document.body.appendChild(form);
      form.submit();
    }

    window.onload = async () => {
      var events = await getEvents(groupid);
      console.log(events);
      if (events.length > 0) {
        var table = document.getElementById('events').getElementByTagName('tbody')[0];
        table.deleteRow(0);
        table.deleteRow(0);
        for (event of events) {
          var row = table.insertRow();
          var td = row.insertCell();
          var text = document.createtextNode(event.name);
          td.appendChild(text);
          td.setAttribute('onclick', 'sendEvent(' + event.id + ',"' + event.name + '","' + event.description + '")');
          var td = row.insertCell();
          var text = document.createtextNode(event.description);
          td.setAttribute('onclick', 'sendEvent(' + event.id + ',"' + event.name + '","' + event.description + '")');
        }
      }
      
      var modal = document.getElementById('myModal');
      var btn = document.getElementById('myBtn');
      btn.onclick = function() {
        modal.style.display = 'block';
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/group-override.css')
  h2= groupname
  button#myBtn create event
    div#myModal(class='modal')
      div(class='modal-content')
        form#createNewEvent(onsubmit='sendData()')
          div#eventname
            label(for='eventname') name your new event!
            input(type='text', name='eventname', required='required')
          div#eventdescription
            label(for='eventdescription') describe your event!
            input(type='text', name='eventdescription', required='required')
          div#eventdate
            label(for='eventdate') what date are you planning for? (optional)
            input(type='text', name='eventdate')
          div#submit
            input(type='submit', value='create event')
  table#events
    thead
      tr
        th meets
        th description
    tbody
      tr#default
        td no meets anytime soon! miss each other?
        td 