extends layout

block scripts
  script(src='/javascripts/events.js')
  script let groupid = #{groupid};
  script let groupname = "#{groupname}";
  script let groupnum = #{groupnum};
  script.
    async function sendData() {
      let data = document.getElementById('createNewEvent').getElementsByTagName('input');
      if (data[0].value && data[1].value) {
        let res = await createEvent(data[0].value, data[1].value, groupid, data[2].value);
        location.reload();
        alert(res);
      }
    }

    async function addUser(userid) {
      let res = await addToGroup(userid, groupid, groupname);
      location.reload();
      alert(res);
    }

    async function search() {
      let data = document.getElementById('inviteUser').getElementsByTagName('input');
      if (data[0].value) {
        let res = await searchUsers(data[0].value);
        let list = document.getElementById('availableUsers');
        list.innerHTML = '';
        for (user of res) {
          let li = document.createElement('li');
          let button = document.createElement('button');
          if (user.name) button.appendChild(document.createTextNode(user.name));
          else button.appendChild(document.createTextNode(user.id));
          button.setAttribute('onclick', 'addUser("' + user.id + '")');
          li.appendChild(button);
          list.appendChild(li);
        }
      }
    }

    function sendEvent(eventId, eventName, eventDescription, startDate) {
      let form = document.createElement('form');
      form.method = 'POST';
      form.action = '/users/event';
      form.style.display = 'none';

      let eventid = document.createElement('input');
      eventid.name = 'eventid';
      eventid.value = eventId;

      let eventname = document.createElement('input');
      eventname.name = 'eventname';
      eventname.value = eventName;

      let eventdescription = document.createElement('input');
      eventdescription.name = 'eventdescription';
      eventdescription.value = eventDescription;

      let start = document.createElement('input');
      start.name = 'start';
      start.value = startDate;

      let num = document.createElement('input');
      num.name = 'num';
      num.value = groupnum;

      form.appendChild(eventid);
      form.appendChild(eventname);
      form.appendChild(eventdescription);
      form.appendChild(start);
      form.appendChild(num);
      document.body.appendChild(form);
      form.submit();
    }

    window.onload = async () => {
      var events = await getEvents(groupid);
      console.log(events);
      if (events.length > 0) {
        var table = document.getElementById('events').getElementsByTagName('tbody')[0];
        table.deleteRow(0);
        for (event of events) {
          var row = table.insertRow();
          var td = row.insertCell();
          var text = document.createTextNode(event.name);
          td.appendChild(text);
          td.setAttribute(
            'onclick',
            'sendEvent("' + event.id + '","' + event.name + '","' + event.description + '","' + event.start + '")'
            );
          
          td = row.insertCell();
          text = document.createTextNode(event.description);
          td.appendChild(text);
          td.setAttribute(
            'onclick',
            'sendEvent("' + event.id + '","' + event.name + '","' + event.description + '","' + event.start + '")'
            );
        }
      }
      
      var eventModal = document.getElementById('createNewEventModal');
      var eventBtn = document.getElementById('createNewEventBtn');
      var userModal = document.getElementById('inviteUserModal');
      var userBtn = document.getElementById('inviteUserBtn');
      eventBtn.onclick = function() {
        eventModal.style.display = 'block';
      }
      userBtn.onclick = function() {
        userModal.style.display = 'block';
      }
      window.onclick = function(event) {
        if (event.target == eventModal) {
          eventModal.style.display = 'none';
        }
        if (event.target == userModal) {
          userModal.style.display = 'none';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/group-override.css')
  h2= 'upcoming events with ' + groupname
  button#createNewEventBtn create event
    div#createNewEventModal(class='modal')
      div(class='modal-content')
        form#createNewEvent(action="javascript:void(0);" onsubmit='sendData()')
          div#eventname
            label(for='eventname') name your new event!
            input(type='text', name='eventname', required='required')
          div#eventdescription
            label(for='eventdescription') describe your event!
            input(type='text', name='eventdescription', required='required')
          div#eventdate
            label(for='eventdate') what date are you planning for? (optional)
            input(type='date', name='eventdate')
          div.submit
            input(type='submit', value='create event')
  button#inviteUserBtn invite user
    div#inviteUserModal(class='modal')
      div(class='modal-content')
        form#inviteUser(action="javascript:void(0);" onsubmit='search()')
          label(for='searchtext') search for users
          input(type='text', name='searchtext')
          div.submit
            input(type='submit', value='search')
          ul#availableUsers
  table#events
    thead
      tr
        th event name
        th event description
    tbody
      tr#default
        td no meets anytime soon! miss each other?
        td 