extends layout

block scripts
  script(src='/javascripts/events.js')
  script var userid = #{userid};
  script.
    window.onload = () => {
      var events = getEvents();
      console.log(events);
      if (events.length > 0) {
        var table = document.getElementById('events').getElementByTagName('td')[0];
        table.delete(0);
        table.delete(0);
        
        for (event of events) {
          var newRow = table.insertRow();
          var newCell = newRow.insertCell();
          var newText = document.createtextNode(event.name);
          newCell.appendChild(newText);
        }
      }
      var modal = document.getElementById('myModal');
      var btn = document.getElementById('myBtn');
      btn.onclick = function() {
        modal.style.display = 'block';
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/group-override.css')
  h2= group.name
  button#myBtn create group
    div#myModal(class='modal')
      div(class='modal-content')
        form#createNewEvent(onsubmit='sendData()')
          div#eventname
            label(for='eventname') name your new event!
            input(type='text', name='eventname', required='required')
          div#eventdescription
            label(for='eventdescription') describe your event!
            input(type='text', name='eventdescription', required='required')
          div#eventdate
            label(for='eventdate') what date are you planning for? (optional)
            input(type='text', name='eventdate')
          div#submit
            input(type='submit', value='create event')
  table#events
    thead
      tr
        th
        th
    tbody
      tr#default
        td no meets anytime soon!
        td 
      tr#default
        td miss each other yet?
        td