extends layout

block scripts
  script(src='/javascripts/groups.js')
  script.
    async function sendData() {
      let data = document.getElementById('createNewGroup').getElementsByTagName('input');
      if (data[0].value) {
        let res = await createGroup(data[0].value);
        location.reload();
        alert(res);
      }
    }

    function sendGroup(groupId, groupName) {
      let form = document.createElement('form');
      form.method = 'POST';
      form.action = '/users/group';
      form.style.display = 'none';

      let groupid = document.createElement('input');
      groupid.name = 'groupid';
      groupid.value = groupId;

      let groupname = document.createElement('input');
      groupname.name = 'groupname';
      groupname.value = groupName;

      form.appendChild(groupid);
      form.appendChild(groupname);
      document.body.appendChild(form);
      form.submit();
    }

    window.onload = async () => {
      let groups = await getGroups();
      console.log(groups);
      if (groups.length > 0) {
        var table = document.getElementById('groups').getElementsByTagName('tbody')[0];
        table.deleteRow(0);
        for (group of groups) if (group) {
          var row = table.insertRow();
          var td = row.insertCell();
          var text = document.createTextNode(group.name);
          td.appendChild(text);
          td.setAttribute('onclick', 'sendGroup(' + group.id + ',"' + group.name + '")');
        }
      }

      var modal = document.getElementById('myModal');
      var btn = document.getElementById('myBtn');
      btn.onclick = function() {
        modal.style.display = 'block';
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/users-override.css')
  if username
    h1= 'welcome, ' + username
  else
    h1= 'welcome, ' + userid
  button#myBtn create group
    div#myModal(class='modal')
      div(class='modal-content')
        form#createNewGroup(action="javascript:void(0);" onsubmit='sendData()')
          div#groupname
            label(for='groupname') name your new group!
            input(type='text', name='groupname', required='required')
          div#submit
            input(type='submit', value='create group')

  table#groups
    thead
      tr
        th
    tbody
      tr#default
        td it's a little quiet in here, get some friends to join meet.up!