extends layout

block scripts
  script(src='/javascripts/groups.js')
  script.
    window.onload = () => {
      var groups = getGroups();
      console.log(groups);
      if (groups.length > 0) {
        var table = document.getElementById('groups').getElementsByTagName('td')[0];
        table.delete(0);
        table.delete(0);
        for (group of groups) {
          var newRow = table.insertRow();
          var newCell = newRow.insertCell();
          var newText = document.createTextNode(group.name);
          newCell.appendChild(newText);
        }
      }

      var modal = document.getElementById('myModal');
      var btn = document.getElementById('myBtn');
      btn.onclick = function() {
        modal.style.display = 'block';
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/users-override.css')
  h1 profile
  h2 my groups
  button#myBtn create group
    div#myModal(class='modal')
      div(class='modal-content')
        form#createNewGroup(action='/users/creategroup', method='post')
          div#groupname
            label(for='groupname') name your new group!
            input(type='text', name='groupname', required='required')
          div#submit
            input(type='submit', value='create group')

  table#groups
    thead
      tr
        th
        th
    tbody
      tr#default
        td it's a little quiet in here
        td 
      tr#default
        td get some friends to join meet.up!
        td