body {
  background-image: url('/images/meet.up event.png');
  background-repeat: no-repeat;
  background-size: 100vw;
}

h1 {
  font-weight: bold;
  font-size: 45px;
}

button {
  margin-right: 25px;
}

div input[type='date'] {
  font-family: 'Spartan', 'sans serif';
  font-weight: bold;
  font-size: 15px;
  background-color: #eaebed;
  color: #006090;
  border: 1px solid #006090;
  border-radius: 7px;
  padding: 5px;
  margin: 15px;
}

table, th, td {
  background-color: #eaebed81;
  border: 2px solid #006090;
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

th {
  height: 50px;
}

tbody tr {
  transition-duration: 0.4s;
}

tbody tr:hover {
  background-color: #d0d6e081;
  cursor: pointer;
}

ul {
  list-style-type: none;
}