.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #eaebed;
  margin: auto;
  padding: 20px;
  border: 1px solid #006090;
  border-radius: 8px;
  width: 50%;
}

.close {
  color: #d0d6e0;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table, tr, td {
  width: 100%;
  margin-bottom: 50px;
  padding: 15px;
  border-collapse: collapse;
  border-bottom: 1px solid #006090;
  color: #006090;
  text-align: center;
}

tr:active {
  background-color: #d0d6e0;
}

h2 {
  text-align: center;
}

div a {
  background-color: #eaebed;
  border: none;
  border-radius: 5px;
  color: #006090;
  display: inline-block;
  width: 50%;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

div a:hover {
  background-color: #d0d6e0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}